<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="uploader" version="3.0">
  <display-name>uploader</display-name>
    <servlet>
        <description>The uploader</description>
    	<display-name>uploader</display-name>
        <servlet-name>uploader</servlet-name>
        <servlet-class>Uploader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploader</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>